{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/jobs.css' %}">
{% endblock %}

{% block titulo %}Vagas{% endblock %}

{% block titulo_body %}Arq - Vagas{% endblock %}

{% block conteudo %}

    <div style="margin-bottom: 20px;">
        <a href="{% url 'pagina_jobs_creat_job' %}">Criar vaga</a>
    </div>

    <table>
        <tr>
            <th>Usuário</th>
            <th>Nome da vaga</th>
            <th>Empresa</th>
            <th>Salário</th>
            <th>Cidade</th>
            <th>Quantidade de vagas</th>
            <th>Ações</th>
        </tr>

        {% for job in jobs %}
            <tr>
                <td>{{ job.user }}</td>
                <td>{{ job.nome }}</td>
                <td>{{ job.empresa }}</td>
                <td>R$ {{ job.salario }}</td>
                <td>{{ job.cidade }}</td>
                <td>{{ job.qtd_jobs }}</td>
                <td><a href="{% url 'ver_job' job.id %}">Ver vaga</a>||
                    <a href="{% url 'delete_job' job.id %}">Deletar vaga</a></td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}
