{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/jobs.css' %}">
{% endblock %}

{% block titulo %}Vagas{% endblock %}

{% block titulo_body %}Arq - Vagas{% endblock %}

{% block conteudo %}

    <div class="action-link create">
        <a href="{% url 'pagina_jobs_creat_job' %}">Criar vaga</a>
    </div>

    <table>
        <tr>
            <th>Usuário</th>
            <th>Nome da vaga</th>
            <th>Empresa</th>
            <th>Salário</th>
            <th>Cidade</th>
            <th>Quantidade de vagas</th>
            <th>Ações</th>
        </tr>

        {% for job in jobs %}
            <tr>
                <td>{% if job.user %}{{ job.user }}{% else %}Usuário não cadastrado{% endif %}</td>
                <td>{% if job.nome %}{{ job.nome }}{% else %}N/A{% endif %}</td>
                <td>{% if job.empresa %}{{ job.empresa }}{% else %}N/A{% endif %}</td>
                <td>{% if job.salario %}R$ {{ job.salario|floatformat:2 }}{% else %}N/A{% endif %}</td>
                <td>{% if job.cidade %}{{ job.cidade }}{% else %}N/A{% endif %}</td>
                <td>{% if job.qtd_jobs %}{{ job.qtd_jobs }}{% else %}N/A{% endif %}</td>
                <td>
                    <a class="action-link view" href="{% url 'ver_job' job.id %}" title="Ver detalhes da vaga">Ver
                        vaga</a>
                    <a class="action-link delete" href="{% url 'delete_job' job.id %}" title="Deletar esta vaga">Deletar
                        vaga</a>
                </td>
            </tr>
        {% endfor %}


    </table>
{% endblock %}
